<%- include('../partials/header') %>

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Appointments History</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Patient Name</th>
                                            <th>Date</th>
                                            <th>Start Time</th>
                                            <th>Price</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(let appointment of appointments) { %>
                                          <tr>
                                            <td>
                                              <a href="/patient/<%- appointment.patient.info._id %>">
                                                <%= appointment.patient.info.username %>
                                              </a>
                                            </td>
                                            <td><%= appointment.slot.date %></td>
                                            <td><%= appointment.slot.startTime %></td>
                                            <td><b>$<%= appointment.cost %></b></td>
                                            <td width="100%" class="btn-icon-split <%- (appointment.status == 'Upcoming' ? 'btn-warning' : 'btn-success') %>"><%- appointment.status %></td>
                                          </tr>
                                        <% } %>
                                      </tbody>
                                      
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

    <%- include('../partials/footer') %>
